<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Тестовое задание - ESholdinG</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
        <th>ID</th>
        <th>title</th>
        <th>price</th>
        <th width="5%"></th>
        <th width="5%"></th>
        </thead>
        <tbody>
        {% for arr in arrs %}
          <tr class="row{{ arr.id }}">
            <th class="id">{{ arr.id }}</th>
            <td class="title">{{ arr.title }}</td>
            <td class="price">{{ arr.price }}</td>
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#modal{{ arr.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
            <td><button class="btn btn-danger js-remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>

            <div class="modal fade" id="modal{{ arr.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ arr.id }}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel{{ arr.id }}">ID {{ arr.id }}</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <input class="form-control" name="title" type="text" placeholder="title" value="{{ arr.title }}"/>
                      </div>
                      <div class="form-group">
                        <input class="form-control" name="price" type="text" placeholder="price" value="{{ arr.price }}"/>
                      </div>
                      <input class="form-control" name="id" type="hidden" value="{{ arr.id }}"/>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary js-save">Сохранить</button>
                  </div>
                </div>
              </div>
            </div>

          </tr>

        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>

  $('body').on('click', '.js-save', function() {

    var data = $(this).closest('.modal').find('form').serialize();

    $.ajax({
      type: "POST",
      url: "/index.php",
      data: data,
      dataType: "text"
    }).done(function (json) {

      var data = JSON.parse(json);

      var html = '<tr class="row'+ data.id +'">' +
          '<th class="id">'+ data.id +'</th>' +
          '<td class="title">'+ data.title +'</td>' +
          '<td class="price">'+ data.price +'</td>' +
          '<td><button class="btn btn-primary" data-toggle="modal" data-target="#modal'+ data.id +'"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>' +
          '<td><button class="btn btn-danger js-remove"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>' +
          '<div class="modal fade" id="modal'+ data.id +'" tabindex="-1" role="dialog" aria-labelledby="modalLabel'+ data.id +'">' +
          '<div class="modal-dialog" role="document">' +
          '<div class="modal-content">' +
          '<div class="modal-header">' +
          '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
          '<h4 class="modal-title" id="modalLabel'+ data.id +'">ID '+ data.id +'</h4>' +
          '</div>' +
          '<div class="modal-body">' +
          '<form>' +
          '<div class="form-group">' +
          '<input class="form-control" name="title" type="text" placeholder="title" value="'+ data.title +'"/>' +
          '</div>' +
          '<div class="form-group">' +
          '<input class="form-control" name="price" type="text" placeholder="price" value="'+ data.price +'"/>' +
          '</div>' +
          '<input class="form-control" name="id" type="hidden" value="'+ data.id +'"/>' +
          '</form>' +
          '</div>' +
          '<div class="modal-footer">' +
          '<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>' +
          '<button type="button" class="btn btn-primary js-save">Сохранить</button>' +
          '</div>' +
          '</div>' +
          '</div>' +
          '</div>' +
          '</tr>';

      $('.row' + data.id + '').replaceWith(html);

    }).fail(function (jqXHR, textStatus) {
      alert("Ошибка: " + textStatus);
    });

  });

  $('body').on('click', '.js-remove', function() {
    $(this).closest('tr').remove();
  });



</script>

</body>
</html>